<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.modules./mapper.TeUsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.modules./domain.TeUsers">
        <id column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="nickname" property="nickname" />
        <result column="mobile" property="mobile" />
        <result column="password" property="password" />
        <result column="token" property="token" />
        <result column="integral" property="integral" />
        <result column="balance" property="balance" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, name, nickname, mobile, password, token, integral, balance, create_time
    </sql>

</mapper>
