<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TeCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.domain.TeCategory">
        <id column="category_id" property="categoryId" />
        <result column="name" property="name" />
        <result column="remart" property="remark" />
        <result column="sort" property="sort" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        category_id, name, remart, sort, update_time, create_time
    </sql>

    <insert id="insertCategory" parameterType="com.example.demo.domain.TeCategory"  keyProperty="categoryId" useGeneratedKeys="true">
        insert  into te_category  ( name, remark,update_time,create_time ) values ( #{name}, #{remark}, #{updateTime}, #{createTime})
    </insert>





</mapper>
